html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hidden {
  display: none;
}
@-webkit-keyframes pulse_opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
.pulse-opacity {
  -webkit-animation-name: 'pulse_opacity';
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Karla, sans-serif;
  color: #fff;
}
body {
  background: url("../img/loop.gif") no-repeat center center;
  background-size: cover;
}

h1.ccdradio {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 200;
}

h1.ccdradio a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 0;
  padding-top: 98px;
  overflow: hidden;
}

.svg h1.ccdradio a {
  background-image: url("../img/ccd-radio.svg");
}

.no-svg h1.ccdradio a {
  background-image: url("../img/ccd-radio.png");
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#background .image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-size: cover;
}
#background .texture {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5) url("/img/pattern.png");
  z-index: 1;
  opacity: 0.5;
}
#main-nav {
  position: absolute;
  bottom: 120px;
  right: 20px;
}
#main-nav a {
  color: #fff;
  text-decoration: none;
  line-height: 1.4em;
  display: inline-block;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 0.6s ease-in-out;
  transition: border 0.6s ease-in-out;
}

#escucha #main-nav a.escucha {
  border-color: #fff;
}

#programacion #main-nav a.programacion {
  border-color: #fff;
}

#acerca-de #main-nav a.acerca-de {
  border-color: #fff;
}


#main-nav .spacer {
  margin: 0 20px;
}
#main {
  width: 100%;
  display: table;
}
#main > div {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}
#main > div .en-construccion {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 320px;
  font-size: 14px;
  text-align: justify;
  text-justify: newspaper;
  hyphens: auto;
}
#main > div a.escucha-btn {
  display: block;
  position: absolute;
  width: 8em;
  margin-left: -4em;
  height: 2em;
  margin-top: -1em;
  line-height: 2em;
  left: 50%;
  top: 50%;
  border: 4px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#main > div a.escucha-btn audio {
  display: none;
}
#main > div a.escucha-btn i {
  margin-right: 10px;
}
#main > div a.escucha-btn:hover {
  color: #000;
  background: #fff;
}
#main > div a.escucha-btn .label {
  display: none;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
#main > div a.escucha-btn .label .now-playing {
  position: relative;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main > div a.escucha-btn .on-air {
  position: absolute;
  width: 200px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: right;
  top: 0;
  left: -200px;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
}
#main > div a.escucha-btn .on-air span {
  position: relative;
  left: 200px;
  opacity: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
}
#main > div a.escucha-btn .on-air span:before {
  -webkit-animation-name: 'pulse_opacity';
  -webkit-animation-duration: 5000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  display: block;
  position: absolute;
  content: " ";
  left: -25px;
  width: 20px;
  margin-top: -10px;
  top: 50%;
  height: 20px;
  border-radius: 20px;
  background: #f00;
  z-index: 100;
}
body.is-playing #main .escucha .text {
  display: none;
}
body.is-playing #main .escucha .label {
  line-height: 1.4em;
  display: inline-block;
  font-size: 14px;
}
body.is-playing #main .escucha .label span {
  display: block;
}
body.is-playing #main .escucha .on-air span {
  left: 0;
  opacity: 1;
}

body.is-playing #main .escucha i.play {
  display: none;
}

#main-content {
  position: relative;
}
#main .programacion {
  position: relative;
  margin: 0 auto;
}
#main .bio-container {
  position: relative;
  top: 20px;
  left: 90px;
}

#main .bio-container a.close {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  right: -40px;
  top: -20px;
  font-size: 42px;
  font-weight: 200;
}

#main .bio-container #bio {
  width: 520px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.6em;
  position: relative;
}
#main .bio-container #bio h2 {
  font-weight: bold;
  line-height: 2em;
}
#main .bio-container #bio h1 {
  color: #ffb54d;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 22px;
  font-size: 1.2em;
  line-height: 1.6em;
}
#main .bio-container #bio h1 span {
  margin-right: 1em;
}
#main .bio-container #bio h1 .schedule {
  font-weight: normal;
}
#main .bio-container #bio .about {
  border: 4px solid;
  padding: 20px;
}
#main .bio-container #bio .show {
  border: 4px solid;
  border-bottom: none;
  padding: 20px;
}
#main .bio-container #bio .side {
  position: absolute;
  width: 160px;
  left: -164px;
  top: -40px;
}
#main .bio-container #bio .side img {
  border: 4px solid #fff;
  display: block;
}
#main .bio-container #bio .side a {
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
  display: block;
}
#main .bio-container #bio .links {
  margin-top: -4px;
}
#main .bio-container #bio .links a {
  display: block;
  float: left;
  padding-top: 55px;
  height: 0;
  width: 55px;
  border: 4px solid #fff;
  overflow: hidden;
  margin-right: -4px;
}
#main .bio-container #bio .links a.twitter {
  background-image: url("../img/twitter.png");
}
#main .bio-container #bio .links a.facebook {
  background-image: url("../img/facebook.png");
}
#main .bio-container #bio .links a.skype {
  background-image: url("../img/skype.png");
}
#main .bio-container #bio .links a.soundcloud {
  background-image: url("../img/soundcloud.png");
}
#main .programacion .calendario {
  margin: 0 auto;
  width: 900px;
}
#main .programacion .calendario > div {
  float: left;
  position: relative;
  width: 225px;
}
#main .programacion .calendario > div h2 {
  padding: 20px;
}
#main .programacion .calendario > div a.show {
  color: inherit;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 20px;
  border: 4px solid #fff;
  border-bottom: none;
  margin: 0 -2px;
  top: -4px;
}
#main .programacion .calendario > div a.show:last-child {
  border-bottom: 4px solid #fff;
}
#main .programacion .calendario > div a.show .time {
  color: #ffb245;
  font-size: 11px;
}
#main .programacion .calendario > div a.show .host {
  font-size: 12px;
}
#main .acerca-de .text {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 1.8em;
  text-align: justify;
  text-justify: newspaper;
}
#main .acerca-de .text strong {
  font-weight: bold;
  border-bottom: 3px solid #fff;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background: #252525;
}
footer > * {
  width: 200px;
  height: 0;
  padding-top: 100px;
  overflow: hidden;
}
footer .sep {
  float: left;
  background: url("/img/sep.png") no-repeat;
}
footer .conaculta {
  float: right;
  background: url("/img/conaculta.png") no-repeat;
}